/*
Colors used:
Primary color (blue): #2232DD;
Secondary color (white): #ffffff;
Tertiary color (black): #1A1818;
Tertiary color (pink): #FBEBED;
*/

body {
  background-color: #ffffff;
  font-family: 'Archivo', sans-serif;
  font-family: 'Inter', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-family: 'Archivo', sans-serif;
  font-size: 2.441em;
  font-weight: 700;
  color: #2232DD;
}

h2 {
  font-family: 'Archivo', sans-serif;
  font-size: 1.953em;
  font-weight: 700;
  color: #2232DD;
}

h3 {
  font-family: 'Archivo', sans-serif;
  font-size: 1.563em;
  font-weight: 600;
}
h4 {
  font-family: 'Archivo', sans-serif;
  font-size: 1.325em;
  font-weight: 400;
}
p {
  font-family: 'Inter', sans-serif;
  font-size: 1em;
  font-weight: 300;
}
a {
  font-family: 'Inter', sans-serif;
  color: #2232DD;
  text-decoration: none; /* No underlining */
  font-weight: 400;
}
a:visited { /* visited link */
  color: #000000;
}
a:hover {
  color: #FBEBED;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:active { /* selected link */
  color: #994c30;
}
li {
  font-family: 'Inter', sans-serif;
  font-size: 1em;
  font-weight: 300;
}

img {
  width: 100%;
}











/*
Button note:
keep button rule at the end of css
*/

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #ff7f50;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30; /* width of the border, type, color */
  transition: 0.2s opacity;
}
