/*
Colors used:
Primary color (blue): #2232DD;
Secondary color (white): #ffffff;
Tertiary color (black): #1A1818;
Tertiary color (pink): #FBEBED;
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Archivo', sans-serif;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}


h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-family: 'Archivo', sans-serif;
  font-size: 2.441em;
  font-weight: 700;
  color: #2232DD;
}

h2 {
  font-family: 'Archivo', sans-serif;
  font-size: 1.953em;
  font-weight: 700;
  color: #2232DD;
}

h3 {
  font-family: 'Archivo', sans-serif;
  font-size: 1.563em;
  font-weight: 600;
  color: #1A1818;
}

h4 {
  font-family: 'Archivo', sans-serif;
  font-size: 1.325em;
  font-weight: 400;
  color: #1A1818;
}

p {
  font-family: 'Inter', sans-serif;
  font-size: 1em;
  font-weight: 300;
}

 a {
  font-family: 'Inter', sans-serif;
  color: #2232DD;
  text-decoration: none;
  /* No underlining */
  font-weight: 600;
}

a:visited {
  /* visited link */
  color: #2232DD;
}

a:hover {
  color: #000000;
  text-decoration: none;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #FBEBED;
}

li {
  font-family: 'Inter', sans-serif;
  font-size: 1em;
  font-weight: 300;
}

img {
  width: 100%;
}
.img.bio {
  max-width: 250px;
}
.contact.svg {
  max-width: 20px;
}

/*
Button note:
keep button rule at the end of css
*/
.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #2232DD;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 600;
  padding: 12px;
  border-radius: 100px;
  border-bottom: 1.5px solid #ffffff;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:visited {
  background-color: #2232DD;
  color: #ffffff;
  opacity: 1;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:hover {
  background-color: #0F1C9F;
  color: #ffffff;
  opacity: 1;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  background-color: #0F1C9F;
  color: #ffffff;
  opacity: 1;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

/*
Contact Button
*/
.button.contact {
  background-color: transparent;
  color: #ffffff;
  text-transform: uppercase;
  border: 2px solid #ffffff;
}

.button.contact:hover {
  background-color: #2232DD;
  color: #ffffff;
}

/* Layout styling */

.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
#work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a;
}
#hero h1 {
  text-align: center; /* Centers text */
}
.logo {
  max-width: 250px;
}
header {
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.3);
  padding: 10px 0;
  position: fixed;
  width: 100%;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}

#hero {
  background-color: #FBEBED;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
main {
  padding-top: 133px;
}
footer {
  background-color: #1A1818;
  text-align: left;
  padding: 10px 0;
  color: #ffffff;
}
footer > ul {
  list-style-type: none;
  padding: 0;
}
footer > ul > li {
  display:inline-block;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
